*.swp
package-lock.json
.pytest_cache

.cdk.staging
cdk.out

# AWS CDK
.aws-sam/

# Environment variables
.env
.env.*

# Python cache files
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.log

# macOS
.DS_Store

# IDE (PyCharm)
.idea/
*.iml
*.ipr
*.iws

# Virtual Environments
venv/
env/